<!doctype>
<html>
<head>
  <link rel="stylesheet" href="https://x.scraperwiki.com/vendor/style/bootstrap.min.css">
  <link rel="stylesheet" href="https://x.scraperwiki.com/vendor/style/metro.bootstrap.css">
  <style type="text/css">
  p {
    margin-top: 100px;
    text-align: center;
    color: #666;
    font-size: 20px;
  }
  p.loading {
    padding-top: 50px;
    background: transparent url('https://x.scraperwiki.com/image/tool-loader.gif') center top no-repeat;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script>
    $.ajax({
      type: 'POST',
      url: '../../../exec',
      data: {
        apikey: location.hash.replace('#', ''),
        cmd: "cd; ./newdataset/download"
      },
      dataType: 'json'
    }).success(function(data){
      if(data.length){
        $.each(data, function(i, csv) {
          $('<iframe src="../'+csv+'">').hide().appendTo('body');
        });
        $('body').html('<p>Done!</p>');
      } else {
        $('body').html('<p>You have no data to download.</p>');
      }
    }).error(function(jqxhr, textStatus, errorThrown){
      $('body').html('<p class="error"><b>' + textStatus + ':</b> ' + errorThrown + '</p>');
    });
  </script>
</head>
<body>
  <p class="loading">Downloading your data&hellip;</p>
</body>
</html>